<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8"/>
		<title></title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script id="courseTemplate" type="text/template">
			<h2 class="number" contenteditable="true"><%= number.join('-') %></h2>
			<h3><span class="units" contenteditable="true"><%= units %></span> units</h3>
			<ul class="grades">
				<li class="A">A</li>
				<li class="B">B</li>
				<li class="C">C</li>
				<li class="D">D</li>
				<li class="R">R</li>
			</ul>
		</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="jquery.isotope.min.js"></script>
		<script type="text/javascript" src="jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="underscore-min.js"></script>
		<script type="text/javascript" src="backbone-min.js"></script>
		<script type="text/javascript" src="backbone.localStorage-min.js"></script>
		<script type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" media="all" href="style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
	</head>
	
	<body lang="en">
		
		<header>
			<h1 id="qpa">Add a course below!</h1>
			<a href="#" id="add_course">Add Course</a>
			<a href="#" id="reset">Reset</a>
		</header>
		
		<ul id="courses">
		</ul>
		
		<footer>
			<p>Coursel is a simple grade calculator for <a href="http://cmu.edu">CMU</a> students.</p>
			<p>Your courses will be saved for when you come back.</p>
			<p>Built by <a href="http://chrsl.net/">Chris Lee</a>.</p>
		</footer>
		
	</body>
	
</html>